fiche_tech_micro/fiche_tech.aux
fiche_tech_micro/fiche_tech.bbl
fiche_tech_micro/fiche_tech.bcf
fiche_tech_micro/fiche_tech.blg
fiche_tech_micro/fiche_tech.fdb_latexmk
fiche_tech_micro/fiche_tech.fls
fiche_tech_micro/fiche_tech.log
fiche_tech_micro/fiche_tech.out
fiche_tech_micro/fiche_tech.run.xml
fiche_tech_micro/fiche_tech.synctex.gz
fiche_tech_micro/fiche_tech.toc
travail_prep_micro/travail_prep.aux
travail_prep_micro/travail_prep.bbl
travail_prep_micro/travail_prep.bcf
travail_prep_micro/travail_prep.blg
travail_prep_micro/travail_prep.fdb_latexmk
travail_prep_micro/travail_prep.fls
travail_prep_micro/travail_prep.log
travail_prep_micro/travail_prep.out
travail_prep_micro/travail_prep.run.xml
travail_prep_micro/travail_prep.synctex.gz
simulations/.ipynb_checkpoints
.virtual_documents/simulations
.ipynb_checkpoints
.virtual_documents
